{% extends 'layouts/base.html' %}
{% load static %}
{% block base_l_body %}
    <div class="container_fluid">
        <div class="card mb-3" style="border: none">
            <div class="row g-0" id="dashboard_row">
                <div class="col-md-2" id="dashboard_left_col">
                    <div class="row">
                        <img src="{% static 'images/logo/exhibitIT.png' %}">
                    </div>
                    {% block sideNav %}
                    {% endblock %}
                </div>
                <div class="col-md-10" id="dashboard_right_col">
                    <div class="card-body">
                        <nav class="navbar navbar-expand-lg">
                            <div class="container-fluid">
                                <a class="navbar-brand" href="#"></a>
                                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                    <span class="navbar-toggler-icon"></span>
                                </button>
                                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">



                                    </ul>
                                    <form class="d-flex">
                                        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                            <li class="nav-item">
                                                {#                                                <div class="row">#}
                                                {##}
                                                {#                                                    <div class="col">#}
                                                {#                                                        {% if user.is_authenticated %}#}
                                                {##}
                                                {#                                                            <p>Welcome, {{ user.get_username }}. Thanks for logging in.</p>#}
                                                {#                                                        {% else %}#}
                                                {#                                                            <p>Welcome, new user. Please log in.</p>#}
                                                {#                                                        {% endif %}#}
                                                {#                                                    </div>#}
                                                {#                                                    <div class="col">#}
                                                {#                                                        <img src="{% static 'images/icons/user.png' %}" width="80px">#}
                                                {#                                                    </div>#}
                                                {#                                                    <div class="col">#}
                                                {#                                                        <a class="nav-link active" aria-current="page" href="{% url 'exhibition_login' %}">#}
                                                {#                                                            Sign out#}
                                                {#                                                        </a>#}
                                                {#                                                    </div>#}
                                                {#                                                </div>#}



                                                <span>
                                                <div style="float:left;">
                                                    <img src="{% static 'images/icons/user.png' %}" width="80px"></div>
                                                <small>
                                                    {% if user.is_authenticated %}

                                                        <p>Hi, {{ user.get_username }}</p>

                                                    {% endif %}

                                                </small>

                                                <a class="nav_link" href="{% url 'logout_user' %}">
                                                    Logout
                                                </a>


                                                </span>



                                            </li>
                                            {#        <li class="nav-item">#}
                                            {#          <a class="nav-link" href="#">Sign up</a>#}
                                            {#        </li>#}


                                        </ul>






                                    </form>
                                </div>
                            </div>
                        </nav>

                        {% block dashboard_content %}


                        {% endblock %}

                    </div>


                </div>
                {#                <div class="page_footer">#}
                {#                    <div class="center_wrapper">#}
                {#                        <h6>All rights reserved</h6>#}
                {#                    </div>#}
                {#                </div>#}
            </div>
        </div>
    </div>
{% endblock %}