{% extends 'layouts/dashboard.html' %}
{% block page_title %}Visitor Home{% endblock %}
{% block sideNav %}
 {% if LOGGED_GROUP == 'EXHIBITOR' %}

            {% include 'components/exhibitor_sidenav.html' %}


    {% elif LOGGED_GROUP == 'VISITOR' %}

        {% include 'components/visitor_sidenav.html' %}


    {% else%}
            {% include 'components/admin_sidenav.html' %}

    {% endif %}{% endblock %}

{% block dashboard_content %}

    <div class="card body_card">
        <h5>Visitor Home</h5>
        <hr>



    </div>

{% endblock %}