{% extends 'layouts/authLayout.html' %}
{% block page_title %}Sign up - Visitor{% endblock %}
{% block auth_left_col %}
    <div class="container-fluid">


        <div class="row" style="text-align: right">
            <h6>Want to become a Exhibitor? <a href="{% url 'reg_as_exhibitor' %}" class="nav_link">Register as a Exhibitor</a></h6>
        </div>
        <br>

        <div class="row">
            <h2 class="auth_titles">Don't have an account?</h2>
            <h2 class="auth_titles">Sign up</h2>

            <form id="visitor_register_form" method="POST">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label form_label_styler">Full Name</label>
                    <input type="text" class="form-control" id="visitor_register_name" name="visitor_register_name">
                </div>

                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label form_label_styler">Email Address</label>
                    <input type="email" class="form-control" id="visitor_register_email" name="visitor_register_email">
                </div>

                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label form_label_styler">Username</label>
                    <input type="text" class="form-control" id="visitor_register_email" name="visitor_username">
                </div>

                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label form_label_styler">Pick a password</label>
                    <input type="password" class="form-control" id="visitor_register_email" name="visitor_register_password">
                </div>

                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label form_label_styler">Confirm password</label>
                    <input type="password" class="form-control" id="visitor_register_email" name="visitor_register_password_confirm">
                </div>


                <div class="center_wrapper">
                    <button type="submit" class="btn btn-primary global_button">Register</button>
                </div>
            </form>
        </div>
        <br>

        <div class="center_wrapper">
            <div class="row">
                <h6>Already have an account? <a href="{% url 'exhibition_login' %}" class="nav_link"> Sign in </a></h6>
            </div>
        </div>


    </div>
{% endblock %}